<div class="container ">
  <div class="row justify-content-center  ">
    <div class="col-8 custom-card roundedBoarders">
      <div class="row">
        <div class="col-lg-5 col-12 justify-content-center text-center mb-lg-0 mb-4">
          <h3 class="mb-4">Profilbild ändern</h3>
          <div class="row justify-content-end mb-2">
            <div class="image-container">
              <img
                *ngIf="profilePic; else fallbackImage"
                class="img-fluid bild sizeRegulator roundImage"
                [src]="window.location.protocol + '//' + window.location.host + '/api/user/profilepic/' + profilePic"
                alt="Profile Picture">

              <ng-template #fallbackImage>
                <img
                  class="img-fluid bild sizeRegulator roundImage"
                  src="../../../../../assets/default-profile.png"
                  alt="Default Profile Picture">
              </ng-template>
            </div>
          </div>

          <div class="row justify-content-end mb-2">
            <div class="col-6">
              <!-- <button (click)="uploadPic()" type="button" class="btn blue-button">Hochladen</button> -->

              <button class="btn  blue-button" (click)="enableImgUpload()" type="button">Hochladen</button>

              <div *ngIf="imgUpload">
                <input (change)="onFileChange($event)" type="file" required name="carImgInput" class="customButton mt-2"><br>

              </div>
              <span *ngIf="errorMessage !== ''" class="text-danger">
                  {{ errorMessage }}
                </span>


            </div>
            <div class="col-6">
              <button (click)="deleteProfilePic()" type="button" class="btn red-button">Entfernen</button>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-12 justify-content-center text-center">
          <h3 class="mb-4">Passwort ändern</h3>


          <form (ngSubmit)="onSubmit()">
            <div class="row justify-content-end mb-2">
              <div class="col-6">
                <input [(ngModel)]="oldPasword" name="oldPassword"
                       type="password" class="form-control blueBorderInput text-center" id="oldPassword"
                       placeholder="Altes Passwort">
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6">
                <input [(ngModel)]="newPassword" name="newPassword"
                       type="password" class="form-control blueBorderInput text-center" id="newPassword"
                       placeholder="Neues Passwort">

              </div>
              <div class="col-6">
                <input [(ngModel)]="newPasswordConfirm" name="newPasswordConfirm"
                       type="password" class="form-control blueBorderInput text-center"
                       id="newPasswordConfirm"
                       placeholder="Neues Passwort bestätigen">

              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-lg-6 col-12 mb-1">
                <button type="submit" class="btn blue-button">Änderung übernehmen</button>


              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-6 mb-1">

                <span id="messageSuccess" class="success-message">Passwort erfolgreich geändert</span>
                <span id="messageErrorOld" class="error-message">Altes Passwort nicht korrekt</span>
                <span id="messageErrorNew" class="error-message">Neue Passwörter nicht gleich</span>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
