.blueBorderInput {
  border-color: #33A6C9;
  border-radius: 20px;
}

.blueBorderInput::placeholder {
  color: #33A6C9;
}

.blue-button {
  color: #f8f8ff;
  background-color: #127897;
}

.blueBorderInput:hover {
  background-color: #127897;
}

.red-button {
  color: #f8f8ff;
  background-color: #BD2A2C;
}
.red-close{
  color: #f8f8ff;
  background-color: #BD2A2C;
}
.sameRow{
  margin-bottom: 20px;
}
.next-to1{
  display:inline;
}
.next-to2{
  display:inline;
  float: right;
}

.next-to3{
  display:inline;
}
.next-to4{
  display:inline;
  float: right;
}
#messageSuccess {
  display: none;
}

#messageErrorOld {
  display: none;
}

#messageErrorNew {
  display: none;
}
.scale{
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
#min-display{
  display: none;
}
  .old-pw{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2px;
  }

  .new-pw{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-self: center;
  }

}

@media (max-width: 991.9px) {
  #max-display {
    display: none;
  }
  .old-pw{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: center;

  }
.need-mar{
  margin-bottom: 1rem;

}
  .new-pw{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
  }
}

@media (max-width: 780px) {
  .blueBorderInput{
    font-size: .75rem;
  }
}

