/* You can add global styles to this file, and also import other style files */
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #33A6C9;
  color: #F0F8FF;
}

.word-wrap {
  overflow-wrap: break-word;
}

.big-button {
  color: #f8f8ff;
  background-color: #127897;
  border: 2px solid #f8f8ff;
  border-radius: 10px;
}

.big-red-button {
  color: #f8f8ff;
  background-color: #dc3545 ;
  border: 2px solid #f8f8ff;
  border-radius: 10px;
}

.big-green-button {
  color: #f8f8ff;
  background-color: #18A01D;
  border: 2px solid #f8f8ff;
  border-radius: 10px;
}

.custom-card {
  background-color: #fff;
  color: #127897;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.roundedBoarders{
  border-radius: 20px;
}

.border-tie {
  border-color: #127897 !important;
}

.border-win {
  border-color: #18a01d !important;
}

.border-lose {
  border-color: #bd2a2c !important;
}

.vs-text {
  font-size: 60px;
}

.vs-text-small {
  font-size: 30px;
}

.font-small {
  font-size: 18px;
}

.custom-container {
  background-color: #00a8cc;
  color: white;
  height: 100vh;
}

.error-message{
  color: #bd2a2c;
}

.blueline {
  border-width: 2px;
  color: #00a8cc;
  opacity: 1;
}

.whiteline {
  border-width: 2px;
  color: #f8f8ff;
  opacity: 1;
}
