<div class="player-info">
  <div class="row">
    <div class="col-6 mx-auto">
      <p class="gameSymbol">{{ opponent?.playerSymbol }}</p> <!-- Symbol des Gegners -->
    </div>
    <div class="col-6 mx-auto">
        <app-profile-pic [userName]="opponent?.userName"></app-profile-pic>
    </div>
  </div>
  <div class="row">
    <div class="col-12 userNameElo p-1 m-1">
      <span class="m-1 px-2">{{ opponent?.userName || 'DEMOUSER' }}</span>
      <span class="m-1">{{ opponent?.elo || 1000 }}</span>
    </div>
  </div>
</div>
