/* Allgemeine Container */
.container {
  margin: 20px 0;
}

/* Spielcontainer mit Flexbox */
.game-container {
  display: block;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 20px;
}

.player-info {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
}

.left, .right {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-board {
  border: 2px solid white;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

/* Spieler-Info anpassen */
.player-info.left {
  background-color: transparent;
  color: white;
  margin-left: 6rem;
  padding: 0;
}

.player-info.right {
  background-color: transparent;
  color: white;
  margin-right: 6rem;
  padding: 0;
}

h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 100%; /* Füge dies hinzu, um die Überschrift in der Mitte des Containers zu zentrieren */
  margin: 10rem auto 10rem auto;
}

*{ height: auto}
