/* Hintergrund */
.game-container {
  background-color: #33a5c1;
  color: white;
  text-align: center;
  padding: 50px;
  height: 100vh;
}

/* Überschrift */
.title {
  font-size: 2rem;
  margin-bottom: 30px;
}

/* Container für Spieler und Spielfeld */
.players-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Spieleranzeige */
.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

/* Profilbild */
.player-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Spieler-Details */
.player-details {
  text-align: center;
}

.player-symbol {
  font-size: 3rem;
  margin: 10px 0;
}

/* Spielfeld */
.board-container {
  flex-grow: 1;
  max-width: 400px;
  margin: 0 50px;
}

/* Anpassungen für linke und rechte Spalte */
.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}
