<div class="container-fluid">
  <h1 class="text-center mt-3">Möge das Glück mit dir sein</h1>
</div>

<div class="container text-center game-container">
  <div class="row">
    <!-- Linke Spielerinfo -->
    <div class="col">
      <div class="player-info left">
        <app-playerLeft
          [username]="user?.userName"
          [elo]="user?.elo"
          [profilePic]="user?.profilePic"
          [symbol]="user?.symbol">
        </app-playerLeft>
      </div>
    </div>

    <!-- Spielbrett -->
    <div class="col-6">
      <!-- <div class="board-container"> -->
      <div class="board-container ">
        <app-board [gameId]="gameId"></app-board>
      </div>
    </div>

    <!-- Rechte Spielerinfo -->
    <div class="col">
      <div class="player-info right">
        <app-playerRight
          [username]="opponent?.username"
          [symbol]="opponent?.symbol"
          [elo]="opponent?.elo"
          [profilePic]="opponent?.profilePic">
        </app-playerRight>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-4">
  @if (currentPlayerId !== user?.userId) {
    <div class="row">
      <div class="col justify-content-center w-50">
        <h4 class="text-light InfoZug">Du bist dran</h4>
      </div>
    </div>
  } @else {
    <div class="row">
      <div class="col justify-content-center w-50">
        <h4 class="text-light InfoZug">Du bist nicht dran!</h4>
      </div>
    </div>
  }
</div>
