<div class="container"><h2 class="justify-content-center text-center">Möge das Glück mit dir sein</h2></div>
<div class="game-container">
  <div class="row">
    <div class="col-3">
      <div class="player-info left">
        <app-player
          [username]="user?.username"
          [symbol]="user?.symbol"
          [elo]="user?.elo">
        </app-player>
      </div>
    </div>
    <div class="col-6">
      <div class="board-container">
        <app-board [gameId]="gameId"></app-board>
      </div>
    </div>
    <!-- Optional: opponent-Logik hinzufügen -->
    <div class="col-3">
      <div class="player-info right">
        <app-player
          [username]="opponent?.username"
          [symbol]="opponent?.symbol"
          [elo]="opponent?.elo">
        </app-player>
      </div>
    </div>
  </div>
</div>
