<div class="container-fluid">
  <h1 class="text-center">Möge das Glück mit dir sein</h1>
</div>

<div class="container text-center game-container">
  <div class="row">
    <!-- Linke Spielerinfo -->
    <div class="col">
      <div class="player-info left">
        @if (currentPlayerId === user?.userId) {
          <span>Du bist dran</span>
        }
        <app-playerLeft
          [username]="user?.userName"
          [elo]="user?.elo"
          [profilePic]="user?.profilePic"
          [symbol]="user?.symbol">
        </app-playerLeft>
      </div>
    </div>

    <!-- Spielbrett -->
    <div class="col-6">
      <!-- <div class="board-container"> -->
      <div class="board-container">
        <app-board [gameId]="gameId"></app-board>
      </div>
    </div>

    <!-- Rechte Spielerinfo -->
    <div class="col">
      <div class="player-info right">
        @if (currentPlayerId !== user?.userId) {
          <span>Gegner ist dran</span>
        }
        <app-playerRight
          [username]="opponent?.username"
          [symbol]="opponent?.symbol"
          [elo]="opponent?.elo"
          [profilePic]="user?.profilePic">
        </app-playerRight>
      </div>
    </div>
  </div>
</div>
