<div class="plaer-info">
  <img src="https://via.placeholder.com/100" alt="Profile" />
  <h2>{{ username }}</h2>
  @if (elo){
  <p> Rang: {{ elo }}</p>
  }
  <p> Symbol: {{ symbol }}</p>
</div>

<!--
<div class="player">
  <div class="player-status">
    <p>{{ isCurrentPlayer ? 'Du bist dran' : 'Gegner ist dran' }}</p>
  </div>
  <div class="player-info">
    <div class="player-icon">
      <img [src]="playerIcon" alt="Player Icon">
    </div>
    <div class="player-score">
      <p>{{ playerName }}</p>
      <p>Score: {{ playerScore }}</p>
    </div>
  </div>
</div>
-->