<div class="player-info">
  <div class="row">
    <div class="col-6">
      <img src="https://via.placeholder.com/100" alt="Profile"/>
    </div>
    <div class="col-6">
      <p>{{ symbol }}</p>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-6">
        <p>{{ username || 'DEMOUSER' }}</p>
      </div>
      <div class="col-6">
        <p>Rang: {{ elo }}</p>
      </div>
    </div>
  </div>
</div>

<!--
<div [class.current-player]="isCurrentPlayer">
  <h2>{{ playerName }}</h2>
  <p>Score: {{ playerScore }}</p>
  <p>Icon: {{ playerIcon }}</p>
</div>
-->
