<div class="my-3">
  <app-current-games-card></app-current-games-card>
</div>
<div class="my-3">
  <app-current-games-card></app-current-games-card>
</div>
<div class="my-3">
  <app-current-games-card></app-current-games-card>
</div>
<div class="my-3">
  <app-current-games-card></app-current-games-card>
</div>
<div class="my-3">
  <app-current-games-card></app-current-games-card>
</div>
<div class="my-3">
  <app-current-games-card></app-current-games-card>
</div>
<div class="my-3">
  <app-current-games-card></app-current-games-card>
</div>
<div class="my-3">
  <app-current-games-card></app-current-games-card>
</div>
<div class="my-3">
  <app-current-games-card></app-current-games-card>
</div>
<div class="my-3">
  <app-current-games-card></app-current-games-card>
</div>
