.blueBorderInput {
  border-color: #33A6C9;
  border-radius: 20px;
}

.blueBorderInput::placeholder {
  color: #33A6C9;
}

.blue-button {
  color: #f8f8ff;
  background-color: #127897;
}

.blueBorderInput:hover {
  background-color: #127897;
}

.red-button {
  color: #f8f8ff;
  background-color: #BD2A2C;
}

#messageSuccess {
  display: none;
}

#messageErrorOld {
  display: none;
}

#messageErrorNew {
  display: none;
}


