<div class="my-3">
  <app-queue-overview-card></app-queue-overview-card>
</div>
<div class="my-3">
  <app-queue-overview-card></app-queue-overview-card>
</div>
<div class="my-3">
  <app-queue-overview-card></app-queue-overview-card>
</div>
<div class="my-3">
  <app-queue-overview-card></app-queue-overview-card>
</div>
<div class="my-3">
  <app-queue-overview-card></app-queue-overview-card>
</div>
<div class="my-3">
  <app-queue-overview-card></app-queue-overview-card>
</div>
<div class="my-3">
  <app-queue-overview-card></app-queue-overview-card>
</div>
<div class="my-3">
  <app-queue-overview-card></app-queue-overview-card>
</div>
<div class="my-3">
  <app-queue-overview-card></app-queue-overview-card>
</div>
<div class="my-3">
  <app-queue-overview-card></app-queue-overview-card>
</div>
