<div class="player-info">
  <div class="row">
    <div class="col-6 mx-auto">
        <app-profile-pic class="justify-content-start"></app-profile-pic>
    </div>
    <div class="col-6 mx-auto">
      <p class="gameSymbol">{{ user?.playerSymbol }}</p> <!-- Symbol des aktuellen Spielers -->
    </div>
  </div>
  <div class="row">
    <div class="col-12 userNameElo">
      <span class="m-1 px-2">{{ user?.userName || 'DEMOUSER' }}</span>
      <span class="m-1">{{ user?.elo || 1000 }}</span>
    </div>
  </div>
</div>
