.userdata-card {
  background-color: #fff;
  color: #00a8cc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.border-tie {
  border-color: #127897 !important;
}

.border-win {
  border-color: #18a01d !important;
}

.border-lose {
  border-color: #bd2a2c !important;
}
