<div class="custom-container">
  <div class="row justify-content-center w-auto m-0">
    <div class="col-10">
      <h1 class="text-center mt-4">Usermanager</h1>

      <div class="d-none d-xxl-block">
        <div class="row mb-4 justify-content-between">
          <div class="col-3">
            <button routerLink="/profile" type="button" class="big-green-button w-100 p-2">
              <span class="h4">{{ "<< Zum eigenen Profil" }}</span>
            </button>
          </div>
          <div class="col-3">
            <button routerLink="/admin/game/queue" type="button" class="big-button w-100 p-2">
              <span class="h4">{{ "Zur Spielübersicht >>" }}</span>
            </button>
          </div>
        </div>
      </div>

      <div class="d-block d-xxl-none">
        <div class="row mb-4 mt-4 justify-content-between">
          <div class="col-12">
            <button routerLink="/profile" type="button" class="big-green-button w-100 p-2">
              <span class="h4">{{ "<< Zum eigenen Profil" }}</span>
            </button>
          </div>

          <hr class="whiteline my-4">

          <div class="col-12">
            <button routerLink="/admin/game/queue" type="button" class="big-button w-100 p-2">
              <span class="h4">{{ "Zur Spielübersicht >>" }}</span>
            </button>
          </div>
        </div>
      </div>

      @for (user of users; track user.userId) {
        <div class="my-3">
          <app-userdata-card [user]="this.user"></app-userdata-card>
        </div>
      }
    </div>
  </div>
</div>
