<div class="login-container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1 class="text-center mt-4">Usermanager</h1>
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <input type="text" class="form-control" name="lastName" placeholder="Suche" required>
          </div>
          <div class="col-4"></div>
          <div class="col-4">
            <input type="button" class="form-control" name="lastName" placeholder="Nachname" required>
          </div>
        </div>
      </div>
      <app-userdata-card></app-userdata-card>
      <app-userdata-card></app-userdata-card>
      <app-userdata-card></app-userdata-card>
      <app-userdata-card></app-userdata-card>
    </div>
  </div>
</div>
