.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 Spalten */
  gap: 10px;
  margin: 10px;
  justify-content: center;

  .row {
    display: contents;
  }

  app-square {
    border: 1px rebeccapurple solid;
    padding: 10px 0px;
    margin: auto 0px;
  }
}

/*
.board {

}

*/
