<div class="board">
  @for (row of board; track rowIndex; let rowIndex = $index) {
    <div class="row">
      @for (square of row; track colIndex; let colIndex = $index) {
        <app-square [value]="square" (squareClick)="makeMove(rowIndex, colIndex)"></app-square>
      }
    </div>
  }
</div>
<!--
<div class="board">
  <div class="row" *ngFor="let row of board; let rowIndex = index">
    <div class="cell" *ngFor="let cell of row; let colIndex = index">
      <button (click)="makeMove(rowIndex, colIndex)">
        {{ cell || '-' }}
      </button>
    </div>
  </div>
</div>
-->
